body {
    background-color: lightcoral;

    color: purple;
}

span {
    color: darkolivegreen;
    border: 1px solid darkolivegreen;
    padding: 10px;
}

h1 {
    font-weight: bold;
}